.menu{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#ffffff19, #e304041c);
    backdrop-filter: blur(5px); /* Ajuste o valor de desfoque conforme necessário */
    position: fixed;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background:#ffffff42;
    width: 100vw;
    padding: 20px 60px;
}

.popup li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.fase{
    color: #181818;
}

.points{
    display: flex;
}
.points h4{
    padding: 0 20px;
}
